<div>
    {{#each this}}
    <div class="country_group">
        <img src="{{this.flag}}" alt="flag" width=60, height="40">
        <h2 class="country_name">{{this.name}}</h2>
    </div>
    {{/each}}
</div>